.center
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}



main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main td
{
    /* left-align tables' cells */
    text-align: left;
}


.bold {
    font-weight: 900;
}

.electric {
    background: #3CC47C;
}

.forest {
    background: #1E392A;
}

.light {
    background: #E9C893;
}

.w {
    color: white;
}

.step{
    width: 80%;
    margin: 0 auto;
    background: #E9C893;
}

.header{
    font-weight: 900;
}

.stat-roll{
    color: #000;
    background: #FFF;
    font-size: 20px;
    font-weight: 900;
}

.buttons > button{
    width: 100px;
    margin-bottom: 10px;
    margin-left: 5px;
    border-radius: 10px;
}
