.center
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.blog-banner{
    font-family: sans-serif;
    color: #F00;
    font-size: 1.5em;
    font-weight: 900;

}

.blog-post{
    font-family: Arial;
    font-size: 1.2em;
}

.blog-title{
    font-family: sans-serif;
    font-size: 2em;
    font-weight: 900;
}

p {
    font-size: 1.3em;
}

.blog-post ul li {
    margin: 10px;
    padding: 10px;
    background: #ff9;
    font-style: italic;
}

.past-posts{
    padding-left: 20px;
    background: #ccc;
    border-radius: 30px;
}

#journey{
    position: absolute;
    font-size: 30px;
    top: -30px;
    left: 25px;
    font-family: 'UnifrakturCook', cursive;

}

#freelancer{
    position: absolute;
    font-size: 30px;
    top: 30px;
    left: 15px;
    font-family: 'UnifrakturCook', cursive;

    
}

.ph-symbol{
    
    width: 140px;
    height: 140px;
    background: #f00;
    color: #fff;
    line-height: 140px;
    font-size: 0.7em;
    border-radius: 90px;
    margin: 5px;
    margin-left: 3px;
    font-family: 'UnifrakturCook', cursive;
}

#stylish-linking-div{
    position: absolute;
    background: #ccc;
    top: 0px;
    left: 0px;
    width: 150px;
    z-index: -1;
    border-radius: 60px 60px 0px 0px;
    height: 170px;
}

.tiny-date{
    font-size: 0.8em;
    color: #999;
}

.past-posts ul li{
    color: #f00;
    font-size: 1.3em;
    margin-bottom: 15px;
}